:root{
  --accent-color: #2BD0D0;
  --text-color-dark: #34313D;
  --text-color: #9E9AA8;
  --text-color-active: rgb(158, 154, 168, 0.7);
  --background-color: #F2F2F2;
  --background-dark: #232127;

}
/* * * FONT FACE * *  */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
  url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
  url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-MediumItalic.woff2') format('woff2'),
  url('../fonts/Poppins-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Poppins", Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: #222;
}
img
{
  max-width: 100%;
  height: auto;
}

/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* *** CONTAINER *** */
.container
{
  max-width: 1150px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border: 4px solid red;
}
/* * * * BUTTON * * * */
.button{
  padding: 13px 40px;
  display: inline-block;
  border: 0;
  background-color: var(--accent-color);
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  border-radius: 28px;
  white-space: nowrap;
}
.button:hover{
  opacity: 0.8;
}
.button:active{
  opacity: 0.6;
}

.button--small{
  padding: 8px 24px;
  font-size: 15px;
  line-height: 1.5;
}
.button--big{
  padding: 17px 40px;
}
.button--rectangle{
  border-radius: 5px;
}
.button--rectangle-big{
  border-radius: 10px;
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}

/* * * SITE HEADER * * */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
  font-weight: bold;
  line-height: normal;
}
.site-header__container {
  display: flex;
  align-items: center;
}
.site-header__logo {
  margin-right: 45px;
}
/* * LOGO * */
.logo{
  display: inline-block;
}
.logo:hover{
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__img {
  display: block;
  width: 120px;
  height: 33px;
  object-fit: contain;
}
/* * SITENAV * */
.site-header__sitenav{
  margin-right: auto;
}

.sitenav__list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child){
  margin-right: 30px;
}

.sitenav__link{
  text-align: left;
  display: block;
  text-decoration: none;
  color: var(--text-color);
}
.sitenav__link:hover{
  color: var(--text-color-dark);
}
.sitenav__link:active{
  color: var(--text-color-active);
}
/* * * AUTHORIZATION * * */
.site-header__auth {
  display: flex;
  align-items: center;
  margin-left: 45px;
}
.site-header__login-link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--text-color);
  margin-right: 37px;
}
.site-header__login-link:hover{
  color: var(--text-color-dark);;
}
.site-header__login-link:active{
  color: var(--text-color-active);
}
/* * HERO * */
.hero__container {
  background-image: url(../img/working_with_computer.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 78px left calc(50% + 350px);
  padding-top: 146px;
  padding-bottom: 222px;
}
.hero__heading {
  width: 565px;
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -2px;
  text-align: left;
  color: var(--title-color);
  margin-bottom: 5px;
}
.hero__text {
  width: 540px;
  font-size: 22px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-align: left;
  color: var(--text-color);
  margin-bottom: 38px;
}
/* * * FEATURE * * */
.feature {
  padding-bottom: 120px;
  background-color: var(--background-color);
}
.feature__container {
}

.feature__url-shortener {
  margin-top: -84px;
  margin-bottom: 120px;
}
.url-shortener {
}
.url-shortener__form {
  display: flex;
  padding: 52px 64px;
  border-radius: 10px;
  background-color: #4B3F6B;
  background-image: url(../img/hero-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.url-shortener__input-wrapper {
  position: relative;
  flex-grow: 1;
  margin-right: 24px;
}
.url-shortener__input {
  padding: 14px 32px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid transparent;
}
.url-shortener__error-msg {
  display: none;
}




.feature__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: center;
  color: var(--title-color);
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  text-transform: capitalize;
}
.feature__text {
  max-width: 540px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.12px;
  text-align: center;
  color: var(--text-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.feature-list {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
}
.feature-list__item:not(:last-child){
  margin-right: 26px;
}
.feature-list__item {
  position: relative;
  max-width: 350px;
  width: 100%;
  list-style: none;
  background-color: #fff;
  padding: 77px 32px 41px;
  z-index: 5;
  flex-shrink: 0;
  border-radius: 5px;
  height: 267px;
}
.feature-list__item--2{
  margin-top: 44px;
}
.feature-list__item--3{
  margin-top: 88px;
}
.feature-list__title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: var(--title-color);
  text-transform: capitalize;
  margin-bottom: 12px;
}
.feature-list__text {
  padding: 0;
  margin: 0;
  max-width: 286px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
}
.feature-list__img {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.line-blue {
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: var(--accent-color);
  border: 0;
  padding: 0;
  margin: 0;
  top: 152px;
  z-index: 0;
}