:root{
  --accent-color: #2BD0D0;
  --text-color-dark: #34313D;
  --text-color: #9E9AA8;
  --text-color-active: rgb(158, 154, 168, 0.7);
  --background-color: #F2F2F2;
  --background-dark: #232127;
  --error-color: #F46363;
}
/* * * FONT FACE * *  */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
  url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
  url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-MediumItalic.woff2') format('woff2'),
  url('../fonts/Poppins-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Poppins", Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: #222;
}
img
{
  max-width: 100%;
  height: auto;
}
*:focus{
  outline: 3px dashed var(--accent-color);
  outline-offset: 3px;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  max-width: 1150px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
/* * * * BUTTON * * * */
.button{
  padding: 13px 40px;
  display: inline-block;
  border: 0;
  background-color: var(--accent-color);
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  border-radius: 28px;
  white-space: nowrap;
}
.button:hover{
  opacity: 0.8;
}
.button:active{
  opacity: 0.6;
}

.button--small{
  padding: 8px 24px;
  font-size: 15px;
  line-height: 1.5;
}
.button--big{
  padding: 17px 40px;
}
.button--rectangle{
  border-radius: 5px;
}
.button--rectangle-big{
  border-radius: 10px;
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}

/* * * SITE HEADER * * */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
  font-weight: bold;
  line-height: normal;
}
.site-header__container {
  display: flex;
  align-items: center;
}
.site-header__logo {
  margin-right: 45px;
}
/* * LOGO * */
.logo{
  display: inline-block;
}
.logo:hover{
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__img {
  display: block;
  width: 120px;
  height: 33px;
  object-fit: contain;
}
/* * SITENAV * */
.site-header__sitenav{
  margin-right: auto;
}

.sitenav__list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child){
  margin-right: 30px;
}

.sitenav__link{
  text-align: left;
  display: block;
  text-decoration: none;
  color: var(--text-color);
}
.sitenav__link:hover{
  color: var(--text-color-dark);
}
.sitenav__link:active{
  color: var(--text-color-active);
}
/* * * AUTHORIZATION * * */
.site-header__auth {
  display: flex;
  align-items: center;
  margin-left: 45px;
}
.site-header__login-link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--text-color);
  margin-right: 37px;
}
.site-header__login-link:hover{
  color: var(--text-color-dark);;
}
.site-header__login-link:active{
  color: var(--text-color-active);
}
/* * HERO * */
.hero {
  padding-top: 92px;
  padding-bottom: 222px;
  background-image: url(../img/working_with_computer.svg);
  background-repeat: no-repeat;
  background-position: top 30px left calc(50% + 476px);
}
.hero__inner {
  max-width: 565px;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  color: var(--text-color-dark);
}
.hero__text {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--text-color);
  margin-bottom: 38px;
}

/* * * FEATURE * * */
.index-url-shortener-form-features-wrapper {
  background-color: var(--background-color);
}
.index-url-shortener {
  margin-top: -84px;
}
.url-shortener__form {
  display: flex;
  padding: 52px 64px;
  border-radius: 10px;
  background-color: #4B3F6B;
  background-image: url(../img/purple-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.url-shortener__input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  margin-right: 24px;
}
.url-shortener__input{
  flex-grow: 1;
  padding: 14px 32px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid transparent;
  color: var(--text-color-dark);
}
.url-shortener__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--error-color);
  color: var(--error-color);
}
.url-shortener__error-msg {
  display: none;
}
.url-shortener__input:not(:focus):not(:placeholder-shown):invalid ~
.url-shortener__error-msg {
  display: block;
  position: absolute;
  color: var(--error-color);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  font-style: italic;
  top: calc(100% + 8px);
  letter-spacing: 0.11px;
}
/* * SHORTENER RESULTS * */
.url-shortener__results {
  display: none;
  padding-top: 24px;
  font-size: 20px;
  line-height: 36px;
}
.url-shortener__results-open{
  display: block;
}
.url-shortener__result {
  display: flex;
  align-items: center;
  padding: 16px 24px 16px 32px;
  border-radius: 5px;
  background-color: #fff;
  letter-spacing: 0.15px;
  color: var(--text-color-dark);
}
.url-shortener__result:not(:last-child){
  margin-bottom: 16px;
}
.url-shortener__original-link {
  margin-right: 24px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.url-shortener__short-link{
  color: var(--accent-color);
  margin-right: 24px;
  text-decoration: none;
}
.url-shortener__copy-button{
  min-width: 103px;
}
.url-shortener__copy-button--copied{
  background-color: #3A3054;
}

/* * * INDEX FEATURES * * */
.index-features{
  padding-top: 120px;
  padding-bottom: 120px;
}
.index-features__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: center;
  color: var(--title-color);
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  text-transform: capitalize;
}
.index-features__info {
  max-width: 540px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.12px;
  text-align: center;
  color: var(--text-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.index-features-list {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.index-features-list::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: var(--accent-color);
  z-index: 1;
  left: 0;
  top: 152px;
}
.index-features-list__item:not(:last-child){
  margin-right: 30px;
}
.index-features-list__item {
  max-width: 350px;
  width: 100%;
}
.index-features-list__item:nth-child(2){
  margin-top: 44px;
}
.index-features-list__item:nth-child(3){
  margin-top: 88px;
}
.index-feature{
  position: relative;
  list-style: none;
  background-color: #fff;
  padding: 77px 32px 41px;
  z-index: 5;
  flex-shrink: 0;
  border-radius: 5px;
}
.index-feature__title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: var(--text-color-dark);
  text-transform: capitalize;
  margin-bottom: 12px;
}
.index-feature__text {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: var(--text-color);
  letter-spacing: -0.000000000000001px;
}
.index-feature-icon-wrapper {
  position: absolute;
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3A3054;
  border-radius: 50%;
  top: -44px;
  left: 32;
}

/* * * CTA * * */
.cta {
  padding-top: 57px;
  padding-bottom: 57px;
  background-color: #4B3F6B;
  background-image: url(../img/cta-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}
.cta__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
  text-transform: capitalize;
}

/* * * * * / SITE FOOTER \ * * * * */
.site-footer {
  background-color: var(--background-dark);
  padding-top: 71px;
  padding-bottom: 71px;
}
.site-footer__container {
  display: flex;
  align-items: flex-start;
}
.site-footer__logo {
  display: flex;
  color: #fff;
  margin-right: 30px;
}
.site-footer__logo:hover{
  color: var(--accent-color);
}
.site-footer__menus {
  display: flex;
  margin-right: 100px;
  margin-left: auto;
}
.site-footer__menus-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer__menus-list:not(:last-child){
  margin-right: 90px;
}
.footer-list {
  color: #fff;
}
.footer-list__title {
  margin-top: 0;
  margin-bottom: 22px;
}
.footer-list__item:not(:last-child){
  margin-bottom: 10px;
}
.footer-list__link {
  text-decoration: none;
  color: #BFBFBF;
}
.footer-list__link:hover{
  color: var(--accent-color);
}
.footer-list__link:active{
  opacity: 0.6;
}
/* * SOCIALS * */
.footer-socials__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-socials__item:not(:last-child) {
  margin-right: 24px;
}
.footer-socials__link{
  display: flex;
  color: #fff;
}
.footer-socials__link:hover {
  color: var(--accent-color);
}
.footer-socials__icon{
  width: 24px;
  object-fit: contain;
}



/* * * * FOR MOBILE ONLY * * * */
.site-header-mobile {
  padding-top: 40px;
}
.site-header__container-mobile {
  display: flex;
  position: relative;
}
.container-mobile {
  width: 375px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}
.site-header__logo-mobile {
  display: flex;
  margin-right: 150px;
}
.sitenav-opener{
  margin: 0;
  padding: 0;
  width: 24px;
  display: flex;
  align-items: center;
  background-image: url(../img/button-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-left: auto;
  transition: transform 0.4s ease;
}
.sitenav-opener:focus{
outline-color: transparent;
}
.sitenav-opener-open{
  transform: rotate(-90deg);
}

/* ======== = = == */
.site-header-mobile__sitenav-auth-wrapper {
  display: none;
  border-radius: 10px;
  background-color: #3A3054;
  position: absolute;
  width: 100%;
  max-width: 327px;
  top: 56px;
  left: 24px;
  padding: 40px 24px;
  opacity: 0.3;
  transition: opacity 1s ease;
}
.site-header-mobile__sitenav-auth-wrapper-open{
  display: block;
}
.site-header-mobile__sitenav-auth-wrapper-open-opacity{
  opacity: 1;
}
.sitenav-mobile__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(158, 154, 168, 0.25);
  margin-bottom: 32px;
}
.sitenav-mobile__item {
  margin-bottom: 30px;
}
.sitenav-mobile__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  text-transform: capitalize;
}
.sitenav-mobile__link:hover{
  color: var(--accent-color);
}
.sitenav-mobile__link:active{
  opacity: 0.6;
}
.site-header-mobile__auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-header-mobile__login-link {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 24px;
}
.site-header-mobile__login-link:hover{
  color: var(--accent-color);
}
.site-header-mobile__login-link:active{
  opacity: 0.6;
}
.button--auth-mobile{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

/* * * HERO * * */
.hero__container-mobile {
  background-image: url(../img/working_with_computer.svg);
  background-repeat: no-repeat;
  background-position: top 35px left 22px;
  background-size: 501px 337px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 400px;
  padding-bottom: 170px;
}
.hero__title--mobile {
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.05px;
  text-align: center;
  color: var(--text-color-dark);
  margin-bottom: 15px;
}
.hero__info--mobile {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.12px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 32px;
}

/* * URL SHORTENER MOBILE * */
.index-url-form-features-wrapper-mobile {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}
.index-url-shortener--mobile {
  margin-top: -84px;
}

.url-shortener__form--mobile {
  padding: 24px;
  background-color: #4B3F6B;
  border-radius: 10px;
}
.url-shortener__input-wrapper--mobile {
  margin-bottom: 16px;
  position: relative;
}
.url-shortener__input--mobile {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.11px;
  padding: 6px 16px;
  border-radius: 5px;
  border: 3px solid transparent;
}
.url-shortener__input--mobile:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--error-color);
  color: var(--error-color);
}
.url-shortener__error-msg--mobile {
  display: none;
}
.url-shortener__input--mobile:not(:focus):not(:placeholder-shown):invalid ~
.url-shortener__error-msg--mobile {
  display: block;
  color: var(--error-color);
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-style: italic;
  top: calc(100% + 4px);
  letter-spacing: 0.8px;
  margin-top: 4px;
}
.button-mobile {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 5px;
}

.url-shortener__results--mobile {
  padding-top: 24px;
  display: none;
}
.url-shortener__results-open{
  display: block;
}
.url-shortener__result--mobile {
  background-color: #fff;
  padding: 6px 16px 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: var(--text-color-dark);
}
.url-shortener__result--mobile:not(:last-child){
  margin-bottom: 24px;
}
.url-shortener__original-link--mobile {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid rgb(158, 154, 168, 0.25);
}
.url-shortener__short-link--mobile {
  color: var(--accent-color);
  text-decoration: none;
  margin-bottom: 8px;
}

/* * * INDEX FEATURES MOBILE * * */
.index-features-mobile {
  padding-top: 80px;
  padding-bottom: 80px;
}
.index-features-mobile__heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.7px;
  text-align: center;
  color: var(--text-color-dark);
  margin-top: 0;
  margin-bottom: 16px;
}
.index-features-mobile__info {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.11px;
  text-align: center;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 92px;
}
.index-features-list-mobile {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}
.index-features-list-mobile::before{
  position: absolute;
  content: "";
  width: 8px;
  height: 100%;
  background-color: var(--accent-color);
  z-index: 1;
  top: 0;
  left: 160px;
}
.index-features-list-mobile__item:not(:last-child){
  margin-bottom: 92px;
}
.index-feature-mobile {
  position: relative;
  background-color: #fff;
  padding: 77px 32px 40px;
  border-radius: 5px;
  z-index: 10;
}
.index-feature-mobile__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--text-color-dark);
}
.index-feature-mobile__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  margin: 0;
  letter-spacing: -0.0001px;
  color: var(--text-color);
}
.index-feature-mobile-icon-wrapper {
  position: absolute;
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #3A3054;
  top: -44px;
  left: 120px;
}
/* * * CTA MOBILE * * */
.cta-mobile{
  background-color: #4B3F6B;
}
.container-mobile-cta{
  padding: 90px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/cta-mobile-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.cta-mobile__title {
  margin-top: 0;
  margin-bottom: 16px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.7px;
}

/* **  FOOTER MOBILE ** */

.site-footer-mobile {
  background-color: #232127;
  padding-top: 55px;
  padding-bottom: 55px;
}
.site-footer-mobile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-footer-mobile__logo {
  color: #fff;
  margin-bottom: 50px;
}
.site-footer-mobile__logo:hover{
  color: var(--accent-color);
}
.site-footer-mobile__menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 46px;
}
.site-footer-mobile__menus-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-mobile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-mobile-list:not(:last-child){
  margin-bottom: 38px;
}
.footer-mobile-list__title {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #fff;
}
.footer-mobile-list__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer-mobile-list__link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.23px;
  color: var(--text-color);
}

.footer-mobile-list__link:hover {
  color: var(--accent-color);
}
.footer-mobile-list__link:active {
  opacity: 0.6;;
}